{% extends 'base.html' %}

{% block content %}
    <style>
    * {
      box-sizing: border-box;
    }

    .row {
      display: flex;
    }

    /* Create two equal columns that sits next to each other */
    .column {
      flex: 50%;
      padding: 10px;
      /* height: 300px;*/ /* Should be removed. Only for demonstration */
    }
    </style>
    <h1>{% block title %} Define a Lunar Mining Simulation {% endblock %}</h1>
    <form method="post">
        <div class="row">
          <div class="column">
            <h3>Primary Simulation Parameters(Required)</h3>
              <label for="num_trucks">Number of trucks</label>
              <br>
              <input type="number" name="num_trucks"
                     placeholder="enter number of mining trucks"
                     value="100"></input>
              <br>
              <label for="num_stations">Number of stations</label>
              <br>
              <input type="number" name="num_stations"
                     placeholder="enter number of unloading stations"
                     value="3"></input>
              <br>
              <label for="run_hours">Simulation run length in hours.</label>
              <br>
              <input type="number" name="run_hours"
                     placeholder="enter length of run in hours"
                     value="72"></input>
          </div>
          <div class="column">
            <h3>Secondary Parameters (all time values must be divisible by 5)</h3>
              <label for="run_hours">Unloading Time in minutes(this may require a code change)</label>
              <br>
              <input type="number" name="unloading_time" value="5"></input>
              <br>
              <label for="transit_time">Transit time in minutes</label>
              <br>
              <input type="number" name="transit_time" value="30"></input>
              <br>
              <h4>Set range for random time to fill a mining truck</h4>
              <label for="min_mining_hours">Minimun mining cycle run time in hours</label>
              <br>
              <input type="number" name="min_mining_hours" value="1"></input>
              <br>
              <label for="max_mining_hours">Maximum mining cycle run time in hours</label>
              <br>
              <input type="number" name="max_mining_hours" value="5"></input>
          </div>
        </div> 
        <h2>Metrics to include</h2>
        <label for="report_as_percent">Chart values as percentage, rather than raw numbers.</label>
        <input type="checkbox" name="report_as_percent" id="report_as_percent" checked></input><br>
        <div class="row">
          <div class="column">
            <h3>Mining Truck Metrics</h3>
            <label for="MINING">Mining.</label>
            <input type="checkbox" name="included_columns" value="MINING" checked></input><br>
            <label for="TRAVELING_TO_STATION">Traveling to Station.</label>
            <input type="checkbox" name="included_columns" value="TRAVELING_TO_STATION" checked></input><br>
            <label for="IDLE">Idle (waiting for station).</label>
            <input type="checkbox" name="included_columns" value="IDLE" checked></input><br>
            <label for="UNLOADING">Unloading.</label>
            <input type="checkbox" name="included_columns" value="UNLOADING" checked></input><br>
            <label for="TRAVELING_TO_MINE">Traveling back to mine site.</label>
            <input type="checkbox" name="included_columns" value="TRAVELING_TO_MINE" checked></input><br>
          </div>
          <div class="column">
            <h3>Unloading Station Metrics</h3>
            <label for="BUSY">Station is Busy.</label>
            <input type="checkbox" name="included_columns" value="BUSY" checked></input><br>
            <label for="IDLE.1">Station is Idle.</label>
            <input type="checkbox" name="included_columns" value="IDLE.1" checked></input><br>
          </div>
        </div> 

        <button type="submit">Submit</button>
    </form>
{% endblock %}
